<div class="grid-container">
  <mat-card class="school-cards">
    <h1 class="mat-h1">Available Schools</h1>
    <mat-grid-list cols="3" rowHeight="300px">
      <mat-grid-tile *ngFor="let school of schools">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{school.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <img mat-card-image [src]=school.image alt="Schools photo">
            <p>
              {{school.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
